body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

.sky {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #1b2735, #090a0f); /* Gradiente linear */
}

.star {
    position: absolute;
    top: -10px;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
    animation: fall linear infinite, twinkle 1s infinite;
}

.shooting-star {
    position: absolute;
    top: 0;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
    animation: shoot linear infinite;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    color: white;
}

.login-container h2 {
    margin: 0 0 1rem 0;
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 0.5rem;
}

.login-container input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

.login-container button {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #1b2735;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container button:hover {
    background-color: #333;
}

.login-container i {
    margin-right: 0.5rem;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
}

@keyframes shoot {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(100vh) translateX(50vw);
    }
}
